# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common used libraries used by Data Scientists
- List some data science tools
- Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia...,etc.

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. Tensorflow

| Data Science Tools |
| --------------------| 
| Jupyter Notebook |
| VS Code |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

 Punam Dahal